__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env
data/raw/*
data/processed/*
data/external/*
models/*
.ipynb_checkpoints/
*.log
*.tmp
*.pkl
*.h5
!models/.gitkeep
!models/random_forest_anxiety_level_pipeline.pkl